doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/foundation/css/normalize.min.css')
    link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
    link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/foundation/js/foundation.min.js')
  body
    include ./nav
    block content

    script.
      $(document).foundation();
    script(src='/javascripts/build/app.js')
