@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,300')
@import url('http//fonts.googleapis.com/css?family=Quicksand')

/* =========================================
   Typography
   =========================================
*/

h1, h2, h3, h4, h5, p, a, small, li, label, td, tr 
  font-family "Lato", "Helvetica Neue", Arial

.bold 
  font-style 600


.firm 
  font-variantsmall-caps


.big-text 
  font-size 1.2em


.small-text 
  font-size 0.5em


.white 
  color #fff


.sub-white 
  color #e8e8e8


.black 
  color #000



/* =========================================
   Sections
   =========================================
*/

.desc 
  padding-bottom 22px
  margin-top 44px
  margin-bottom 44px
  text-align center
  border-bottom solid #ddd 1px
  line-height 44px

#navbar 
  background-color #fff
  border-bottom solid #097DB3 8px


.footer 
  padding-left 22px
  border-top solid #ddd 1px


.footer 
  margin-top 66px
  padding 22px

.indent
  margin-left 20px

.commentBox
  margin-left 20px

.commentList
  margin-left 30px

.commentForm
  margin-left 15px
